{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": ["^@/assets/(.*)$", "^@/components/(.*)$", "^@/externals/(.*)$", "^@/hooks/(.*)$", "^@/layouts/(.*)$", "^@/modules/(.*)$", "^@/stores/(.*)$", "^@/utils/(.*)$", "^@/views/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva"]
}
